@import "_base.scss";

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: $primary-color;
}

.ql-toolbar .ql-fill {
  fill: $primary-color;
  stroke: none;
  border: 1px solid $primary-color;
}

.ql-toolbar.ql-snow {
  border: 1px solid $primary-color;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 8px;
}

.ql-toolbar .ql-picker {
  color: $primary-color;
}

.ql-container.ql-snow {
  border: 1px solid $primary-color;
}
