@import "../styles/base";

.carouselContainer {
  position: relative;
  width: 40%;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;

  border: 2px solid $primary-color;

  @include sm {
    width: 100%;
    padding-bottom: 100%;
  }

  &::before {
    content: "Please Wait";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: $primary-color;
  }
}

.carouselImage {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  z-index: 100;
  left: -5%;
  top: -5%;
  position: relative;
  cursor: pointer;
}

.carouselControls {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
}

%carouselButton {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  pointer-events: all;
  cursor: pointer;
  &:hover {
    opacity: 1;
    .carouselDirection {
      transform: scale(1.5);
    }
  }
}

%carouselButtonBackground {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.carouselButtonRight {
  @extend %carouselButton;
  right: 0;
  align-items: flex-end;
  justify-content: center;
  &::after {
    @extend %carouselButtonBackground;
  }
}

.carouselButtonLeft {
  @extend %carouselButton;
  left: 0;
  align-items: flex-start;
  justify-content: center;

  &::after {
    @extend %carouselButtonBackground;
  }
}

.carouselDirection {
  position: relative;
  z-index: 300;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding: 5px;
  color: black;
  transition: transform 0.25s linear;
  opacity: 0.6;
}

.projectImageFull {
  //width: 50%;
  height: 80vh;
}
