@import "_base.scss";

$orbital-count: 15;
$half-circle-dim: 35%;
$half-circle-incr: 3px;
$half-circle-count: 0;

:export {
  orbitalCount: $orbital-count;
}

@for $i from 1 through $orbital-count {
  $rand: random(360);
  $rand-end: $rand + 360;
  @keyframes rotate#{$i} {
    from {
      transform: rotate($rand + deg);
    }

    to {
      transform: rotate(#{$rand + 360}deg);
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

$social-media-icon-count: 3;

.socialMediaContainer {
  display: grid;
  grid-template-columns: repeat($social-media-icon-count, 1fr);
  align-self: center;
  width: 30%;
  min-width: #{$social-media-icon-count * 3}em;
  column-gap: 1em;
  height: 6em;
  max-height: 3em;
  margin-top: calc($orbital-count * $half-circle-incr * 0.5);

  a {
    align-self: center;
    justify-self: center;

    .icon {
      font-size: 2em;
      transition: transform 0.25s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

.profilePicContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: #{$half-circle-dim};
  width: 100%;
  margin-bottom: calc(#{$orbital-count} * #{$half-circle-incr + 1});
  margin-top: calc(#{$orbital-count} * #{$half-circle-incr + 1});
}

.profilePic {
  position: absolute;
  width: $half-circle-dim;
  padding-bottom: $half-circle-dim;
  background-image: radial-gradient(transparent 40%, $primary-color),
    url("/static/images/brandon.jpg");
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: 100% 50%;
  border-radius: 500px;
}

@while $half-circle-count < $orbital-count {
  $half-circle-dim: calc(#{$half-circle-dim} + #{$half-circle-incr});

  .halfCircle#{$half-circle-count} {
    position: absolute;
    width: $half-circle-dim;
    padding-bottom: $half-circle-dim;
    border-radius: 50%;
    border: 2px solid $primary-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation-duration: #{random(35) + 5}s;
  }

  $half-circle-count: $half-circle-count + 1;
}

.halfCircle {
  position: absolute;
  width: $half-circle-dim;
  padding-bottom: $half-circle-dim;
  border-radius: 50%;
  border: 2px solid $primary-color;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation-duration: #{random(35) + 5}s;
}

.background {
  position: absolute;
  background-image: url("/static/images/hubbleNebulaMandala.png");
  background-position: center;
  background-size: cover;
  animation-name: slide;
  animation-duration: 360s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  left: -25vw;
  top: -75vw;
  width: 250vw;
  height: 250vw;
}

.homePageContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
