@import "./_base.scss";

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
}

.modalContainer {
  position: absolute;
  pointer-events: none;

  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.modalContent {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid $primary-color;
  z-index: 500;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeModal {
  font-size: 25px;
  color: $primary-color;
  opacity: 0.75;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  //transform: translate(125%, -98%);
}
