@import "./_base.scss";

.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  flex-wrap: wrap;
  width: 90%;

  button {
    @include sm {
      font-size: 20px;
    }
  }
}
