@import "_base.scss";

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 3px $primary-color;
  }

  25% {
    box-shadow: 0 0 15px 4px $primary-color;
  }

  50% {
    box-shadow: 0 0 10px 3px $primary-color;
  }

  75% {
    box-shadow: 0 0 15px 4px $primary-color;
  }

  100% {
    box-shadow: 0 0 10px 3px $primary-color;
  }
}

.page {
  hr {
    width: 70%;
  }
}
.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2em;
  column-gap: 2em;

  width: 90%;
  height: 90%;
  overflow-y: scroll;

  padding: 2em;
  &::-webkit-scrollbar {
    width: 0.3em;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary-color;
  }
}

.projectContainer {
  width: 30%;
  padding-bottom: 30%;
  height: 0;
  border: 2px solid $primary-color;
  position: relative;
  transition: transform 0.5s ease;

  .projectOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    row-gap: 1em;
    animation: glow 10s linear infinite alternate-reverse;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      margin: 0;
      padding: 0;
      height: auto;
      font-size: 28px;
    }
  }

  &:hover {
    transform: scale(1.05);
    .projectOverlay {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    }
  }
}

.projectTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 0.25em;
  row-gap: 0.25em;
}
.projectTag {
  background: rgba(0, 0, 0, 0.6);
  border: $primary-color;
  color: $primary-color;
  text-align: center;
  padding: 0.25em;
  border: 1px solid $primary-color;
}

.projectGalleryImage {
  width: 100px;
  padding-bottom: 100px;
}

.projectDescriptionContainer {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.projectDescription {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-left: 2px solid $primary-color;

  p {
    padding-left: 15px;
    text-align: left;

    width: 100%;
  }
}

.projectLinks {
  display: flex;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
}

.projectLink {
  display: flex;
  column-gap: 10px;
  padding: 5px;
  border: 1px solid $primary-color;
  box-shadow: 0 0 0px 0px $primary-color;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 0px $primary-color;
  }
}
